<?xml version="1.0" encoding="UTF-8"?>

   <config version="1.0" htmlParse="false">

   <!-- GENERAL SETTINGS -->
   <item id="studyTitle">Sesión de Validación</item> 
   <item id="setupTarget">firebase</item>
   <item id="firebaseOrLocal">firebase</item>
   <item id="steinApiUrl"></item>


   <item id="shuffleCards">true</item>
   <item id="headerBarColor">#1F3862</item>
   <item id="devMode">false</item>
   

   <!-- ACCESS -->
   <!-- options: anonymous, partId-access, partId, access -->
   <item id="initialScreen">anonymous</item>
   <item id="accessCode">demo</item>


   <!-- FONT OPTIONS -->
   <!-- defaults false, 15, #2a2a2a -->
   <item id="setDefaultFontSize">false</item>
   <item id="defaultFontSize">15</item>
   <item id="defaultFontColor">#2F3658</item>


   <!-- PRESORT -->
   <!-- default colors #ccffcc, #e0e0e0, #ffe0f0 -->
   <item id="greenCardColor">#d4d1f1</item>
   <item id="yellowCardColor">#e0e0e0</item>
   <item id="pinkCardColor">#E0ECF4</item>
 

   <!-- SORT -->
   <item id="condOfInstFontSize">20</item>
   <item id="allowUnforcedSorts">false</item>
   <item id="warnOverloadedColumn">true</item>
   <item id="setMinCardHeight">undefined</item>
   <item id="minCardHeight">50</item>


   <!-- POSTSORT -->
   <item id="showPostsort">true</item>
   <item id="showSecondPosColumn">false</item>
   <item id="showSecondNegColumn">false</item>
   

   <item id="displayNeutralObjects">false</item>


   <!-- SURVEY - Survey Questions -->
   <item id="showSurvey">true</item>

   <item id="survey">
        <input type="text" required="false" limited="false" maxlength="99999" restricted="true"></input>
        <label>Edad</label>
        <note>Por favor indique su edad en número</note>
   </item>

   <item id="survey">
        <input type="text" required="true" limited="false" maxlength="99999" restricted="false"></input>
        <label>Unidad o área de adscripción</label>
        <note>Por favor indique su unidad o área de adscripción SIN mencionar el estado de su Fiscalía, e.g. Contra la salud</note>
   </item>

   <item id="survey">
        <input type="radio" required="false">Mujer;;;Hombre;;;Otro</input>
        <label>Género</label>
        <note>Por favor seleccione el género con el cuál se identifica</note>
   </item>

   <item id="survey">
        <input type="text" required="true" limited="false" maxlength="99999" restricted="false"></input>
        <label>Intereses formativos</label>
        <note>Si pudiera escoger una capacitación para usted y su equipo, ¿de qué tema sería?</note>
   </item>


       
  </config>